/**
 * style.css
 * 
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Montserrat
    ----------------------------------------
    Colors:
          
============================================ */

/***********************************************************
                        GENERAL
***********************************************************/
html,
body {
  width: 100%;
  height: 100%;
  /*    text-align: justify;*/
}
section {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a,
a:focus,
a:hover {
  text-decoration: none;
}
section {
  background: #fff;
}
.main-container {
  /*    margin: 60px 0;*/
  padding: 8vh 10vw 0;
}
.main-container-2 {
  padding: 5.5vh 5vw;
}
.container-fluid {
  padding: 0;
}
.pr-16 {
  padding-right: 4.2vw !important;
}
.pb-40 {
  padding-bottom: 5.32vh;
}

.ptb-40 {
  padding: 5.32vh 0;
}
.pt-40 {
  padding-top: 5.32vh;
}
.ptb-16 {
  padding: 16px 0;
}
.ptb-15 {
  padding: 15px 0 !important;
}
.ptb-20 {
  padding: 2.66vh 0 !important;
}
.ptb-8 {
  padding: 1vh 0;
}
.pl-10 {
  padding-left: 5vw !important;
}
.plr-20 {
  padding: 0 4.6vw;
}
.row-pb-16 {
  padding-bottom: 2.2vh !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.mt-10 {
  margin-top: 1.5vh;
}
.mt-20 {
  margin-top: 2.66vh;
}
.mt-30 {
  margin-top: 4vh;
}
.mt-40 {
  margin-top: 5.32vh;
}
.mt-60 {
  margin-top: 7.8vh;
}
.mt-80 {
  margin-top: 80px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 5vw;
}
input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 1px solid #95989a;
  padding: 5px;
}
input::placeholder {
  color: #95989a;
}
/***********************************************************
                      GENERAL BUTTONS
***********************************************************/
.btn-general {
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  transition: all 0.5s;
  border-style: none;
  padding: 2.2vh 5vw;
  font-size: 2vh;
  font-weight: 600;
}
.btn-white-sm {
  padding: 1.4vh 5.12vw;
}
.btn-bg {
  min-width: 80%;
}

.btn-blue {
  color: #fff;
  background-color: #007eff;
}
.btn-white {
  color: #007eff;
  background-color: #fff;
  border: 1px solid #007eff;
}
.btn-login {
  font-size: 2.2vh;
  box-shadow: 0px 4px 16px rgba(150, 150, 150, 0.33);
  background-color: #fff;
  font-weight: normal;
  line-height: 3vh;
}
.col-2 {
  padding: 0;
}
[class*="col-"] {
  padding: 0;
}
.col {
  padding: 0;
}
/***********************************************************
                      HOME SECTION
***********************************************************/

.number-info {
  font-style: normal;
  font-weight: bold;
  font-size: 6.4vh;
  line-height: 6.4vh;
}

.text-blue {
  color: #007eff;
}
.text-green {
  color: #2ac769;
}
.text-yellow {
  color: #f6a609;
}
.text-black {
  color: #000;
}
.text-dark-gray {
  color: #333;
}
.text-gray {
  color: #666;
}
.text-14-gray {
  color: #666;
  font-size: 2vh;
}
.illustrations {
  position: absolute;
  bottom: 0;
}
.illustrations .row {
  padding: 0;
}
/*
.illustrations img{
  display: inline;
  position: relative;
  top: 0.4vh;
}
*/
.illus-img {
  position: relative;
  left: -18vw;
  /*    top: -1.6vh;*/
}
.illus-page-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}
.illus-page-2 img {
  position: relative;
  top: 6.7vh;
  left: 2.7vh;
}
.illus-page-7 {
  position: absolute;
  right: 0;
  top: 0;
}
.illus-page-7 > img {
  width: 50vw;
}
.border-bottom-grey {
  border: 1px solid #f5f6fa;
}
.ht-100 {
  height: 100%;
  position: relative;
}
.main-title {
  font-size: 5vh;
  font-weight: 800;
}
.main-title-content {
  font-size: 3vh;
  font-weight: normal;
  line-height: 4.2vh;
  padding-top: 1.5vh;
  padding-bottom: 7vh;
}
.bg-gray {
  background-color: #f5f6fa;
}
.main-article-title {
  font-size: 2.2vh;
  line-height: 3.2vh;
  font-weight: normal;
}
.main-article-content {
  font-size: 2vh;
  font-weight: normal;
  padding: 2.7vh 0;
  line-height: 4vh;
}
.container-rounded {
  background: #ffffff;
  box-shadow: 0px -8px 16px rgba(149, 152, 154, 0.1);
  border-radius: 32px 32px 0px 0px;
}
.main-rating-outer {
  position: relative;
  top: -5.4vh;
}
.rating-icon {
  /*    margin-right: 19px;*/
  width: 11vw;
  height: 6vh;
  position: relative;

  background: rgba(246, 166, 9, 0.1);
  border-radius: 4.33333px;
}
.rating-icons > div {
  height: 36vh;
}
.rating-icon-2 {
  /*    margin-right: 19px;*/
  width: 2.7vh;
  height: 2.7vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #f6a609;
  border-radius: 4px;
}
.rating-marks {
  font-style: normal;
  font-weight: bold;
  font-size: 2.7vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.row {
  margin: 0;
  padding: 5px 0;
}
.rating-title {
  font-style: normal;
  font-weight: normal;
  font-size: 1.9vh;
  line-height: 2.8vh;
}
.rating-content {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6vh;
  line-height: 2.4vh;
}
.rating-subcontent {
  margin-top: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2vh;
  line-height: 1.6vh;
}
.position-relative {
  position: relative;
}
.pocket-svg {
  margin: 0 10px;
  float: left;
}
.pocket-svg > img {
  height: 3vh;
}
.articles {
  padding: 1.4vh 0;
}
.user-info {
  padding-top: 5vh;
}

.user-title {
  font-style: normal;
  font-weight: 600;
  font-size: 3.3vh;
  line-height: 3.9vh;
}
.user-button-position {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.user-reading-list .row {
  border-bottom: 1px solid #f5f6fa;
}

.user-reading-list img {
  border-radius: 4px;
}
.done {
  font-style: normal;
  font-weight: 600;
  font-size: 2vh;
  line-height: 2.8vh;
}
.done:hover {
  cursor: pointer;
}
.green-overlay {
  background-color: #2ac769;
  position: absolute;
  top: 0;
  left: -6vw;
  right: -6vw;
  bottom: 0;
  transition: all 0.3s;
  opacity: 1;
  display: none;
}
.green-overlay-content {
  font-weight: 600;
  font-size: 3.72vh;
  line-height: 5.6vh;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  margin-left: 4.7vw;
}
.user-stats-content-inner {
  font-style: normal;
  font-weight: bold;
  font-size: 4.8vh;
  line-height: 5.9vh;
}

.border-stats {
  border: 1px solid #f5f6fa;
}
